# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
data/physionet.org/robots.txt
data/physionet.org/files/eegmmidb/1.0.0/64_channel_sharbrough-old.png
data/physionet.org/files/eegmmidb/1.0.0/64_channel_sharbrough.pdf
data/physionet.org/files/eegmmidb/1.0.0/64_channel_sharbrough.png
data/physionet.org/files/eegmmidb/1.0.0/ANNOTATORS
data/physionet.org/files/eegmmidb/1.0.0/index.html
data/physionet.org/files/eegmmidb/1.0.0/RECORDS
data/physionet.org/files/eegmmidb/1.0.0/SHA256SUMS.txt
data/physionet.org/files/eegmmidb/1.0.0/wfdbcal
data/physionet.org/files/eegmmidb/1.0.0/S001/index.html
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R01.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R01.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R02.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R02.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R03.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R03.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R04.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R04.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R05.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R05.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R06.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R06.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R07.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R07.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R08.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R08.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R09.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R09.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R10.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R10.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R11.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R11.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R12.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R12.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R13.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R13.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R14.edf
data/physionet.org/files/eegmmidb/1.0.0/S001/S001R14.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/index.html
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R01.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R01.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R02.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R02.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R03.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R03.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R04.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R04.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R05.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R05.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R06.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R06.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R07.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R07.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R08.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R08.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R09.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R09.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R10.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R10.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R11.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R11.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R12.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R12.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R13.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R13.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R14.edf
data/physionet.org/files/eegmmidb/1.0.0/S002/S002R14.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/index.html
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R01.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R01.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R02.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R02.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R03.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R03.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R04.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R04.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R05.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R05.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R06.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R06.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R07.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R07.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R08.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R08.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R09.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R09.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R10.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R10.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R11.edf
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R11.edf.event
data/physionet.org/files/eegmmidb/1.0.0/S003/S003R12.edf
data/physionet.org/files/eegmmidb/1.0.0/S004/index.html
data/physionet.org/files/eegmmidb/1.0.0/S005/index.html
data/physionet.org/files/eegmmidb/1.0.0/S006/index.html
data/physionet.org/files/eegmmidb/1.0.0/S007/index.html
data/physionet.org/files/eegmmidb/1.0.0/S008/index.html
data/physionet.org/files/eegmmidb/1.0.0/S009/index.html
data/physionet.org/files/eegmmidb/1.0.0/S010/index.html
data/physionet.org/files/eegmmidb/1.0.0/S011/index.html
data/physionet.org/files/eegmmidb/1.0.0/S012/index.html
data/physionet.org/files/eegmmidb/1.0.0/S013/index.html
data/physionet.org/files/eegmmidb/1.0.0/S014/index.html
data/physionet.org/files/eegmmidb/1.0.0/S015/index.html
data/physionet.org/files/eegmmidb/1.0.0/S016/index.html
data/physionet.org/files/eegmmidb/1.0.0/S017/index.html
data/physionet.org/files/eegmmidb/1.0.0/S018/index.html
data/physionet.org/files/eegmmidb/1.0.0/S019/index.html
data/physionet.org/files/eegmmidb/1.0.0/S020/index.html
data/physionet.org/files/eegmmidb/1.0.0/S021/index.html
data/physionet.org/files/eegmmidb/1.0.0/S022/index.html
data/physionet.org/files/eegmmidb/1.0.0/S023/index.html
data/physionet.org/files/eegmmidb/1.0.0/S024/index.html
data/physionet.org/files/eegmmidb/1.0.0/S025/index.html
data/physionet.org/files/eegmmidb/1.0.0/S026/index.html
data/physionet.org/files/eegmmidb/1.0.0/S027/index.html
data/physionet.org/files/eegmmidb/1.0.0/S028/index.html
data/physionet.org/files/eegmmidb/1.0.0/S029/index.html
data/physionet.org/files/eegmmidb/1.0.0/S030/index.html
data/physionet.org/files/eegmmidb/1.0.0/S031/index.html
data/physionet.org/files/eegmmidb/1.0.0/S032/index.html
data/physionet.org/files/eegmmidb/1.0.0/S033/index.html
data/physionet.org/files/eegmmidb/1.0.0/S034/index.html
data/physionet.org/files/eegmmidb/1.0.0/S035/index.html
data/physionet.org/files/eegmmidb/1.0.0/S036/index.html
data/physionet.org/files/eegmmidb/1.0.0/S037/index.html
data/physionet.org/files/eegmmidb/1.0.0/S038/index.html
data/physionet.org/files/eegmmidb/1.0.0/S039/index.html
data/physionet.org/files/eegmmidb/1.0.0/S040/index.html
data/physionet.org/files/eegmmidb/1.0.0/S041/index.html
data/physionet.org/files/eegmmidb/1.0.0/S042/index.html
data/physionet.org/files/eegmmidb/1.0.0/S043/index.html
data/physionet.org/files/eegmmidb/1.0.0/S044/index.html
data/physionet.org/files/eegmmidb/1.0.0/S045/index.html
data/physionet.org/files/eegmmidb/1.0.0/S046/index.html
data/physionet.org/files/eegmmidb/1.0.0/S047/index.html
data/physionet.org/files/eegmmidb/1.0.0/S048/index.html
data/physionet.org/files/eegmmidb/1.0.0/S049/index.html
data/physionet.org/files/eegmmidb/1.0.0/S050/index.html
data/physionet.org/files/eegmmidb/1.0.0/S051/index.html
data/physionet.org/files/eegmmidb/1.0.0/S052/index.html
data/physionet.org/files/eegmmidb/1.0.0/S053/index.html
data/physionet.org/files/eegmmidb/1.0.0/S054/index.html
data/physionet.org/files/eegmmidb/1.0.0/S055/index.html
data/physionet.org/files/eegmmidb/1.0.0/S056/index.html
data/physionet.org/files/eegmmidb/1.0.0/S057/index.html
data/physionet.org/files/eegmmidb/1.0.0/S058/index.html
data/physionet.org/files/eegmmidb/1.0.0/S059/index.html
data/physionet.org/files/eegmmidb/1.0.0/S060/index.html
data/physionet.org/files/eegmmidb/1.0.0/S061/index.html
data/physionet.org/files/eegmmidb/1.0.0/S062/index.html
data/physionet.org/files/eegmmidb/1.0.0/S063/index.html
data/physionet.org/files/eegmmidb/1.0.0/S064/index.html
data/physionet.org/files/eegmmidb/1.0.0/S065/index.html
data/physionet.org/files/eegmmidb/1.0.0/S066/index.html
data/physionet.org/files/eegmmidb/1.0.0/S067/index.html
data/physionet.org/files/eegmmidb/1.0.0/S068/index.html
data/physionet.org/files/eegmmidb/1.0.0/S069/index.html
data/physionet.org/files/eegmmidb/1.0.0/S070/index.html
data/physionet.org/files/eegmmidb/1.0.0/S071/index.html
data/physionet.org/files/eegmmidb/1.0.0/S072/index.html
data/physionet.org/files/eegmmidb/1.0.0/S073/index.html
data/physionet.org/files/eegmmidb/1.0.0/S074/index.html
data/physionet.org/files/eegmmidb/1.0.0/S075/index.html
data/physionet.org/files/eegmmidb/1.0.0/S076/index.html
data/physionet.org/files/eegmmidb/1.0.0/S077/index.html
data/physionet.org/files/eegmmidb/1.0.0/S078/index.html
data/physionet.org/files/eegmmidb/1.0.0/S079/index.html
data/physionet.org/files/eegmmidb/1.0.0/S080/index.html
data/physionet.org/files/eegmmidb/1.0.0/S081/index.html
data/physionet.org/files/eegmmidb/1.0.0/S082/index.html
data/physionet.org/files/eegmmidb/1.0.0/S083/index.html
data/physionet.org/files/eegmmidb/1.0.0/S084/index.html
data/physionet.org/files/eegmmidb/1.0.0/S085/index.html
data/physionet.org/files/eegmmidb/1.0.0/S086/index.html
data/physionet.org/files/eegmmidb/1.0.0/S087/index.html
data/physionet.org/files/eegmmidb/1.0.0/S088/index.html
data/physionet.org/files/eegmmidb/1.0.0/S089/index.html
data/physionet.org/files/eegmmidb/1.0.0/S090/index.html
data/physionet.org/files/eegmmidb/1.0.0/S091/index.html
data/physionet.org/files/eegmmidb/1.0.0/S092/index.html
data/physionet.org/files/eegmmidb/1.0.0/S093/index.html
data/physionet.org/files/eegmmidb/1.0.0/S094/index.html
data/physionet.org/files/eegmmidb/1.0.0/S095/index.html
data/physionet.org/files/eegmmidb/1.0.0/S096/index.html
data/physionet.org/files/eegmmidb/1.0.0/S097/index.html
data/physionet.org/files/eegmmidb/1.0.0/S098/index.html
data/physionet.org/files/eegmmidb/1.0.0/S099/index.html
data/physionet.org/files/eegmmidb/1.0.0/S100/index.html
data/physionet.org/files/eegmmidb/1.0.0/S101/index.html
data/physionet.org/files/eegmmidb/1.0.0/S102/index.html
data/physionet.org/files/eegmmidb/1.0.0/S103/index.html
data/physionet.org/files/eegmmidb/1.0.0/S104/index.html
data/physionet.org/files/eegmmidb/1.0.0/S105/index.html
data/physionet.org/files/eegmmidb/1.0.0/S106/index.html
data/physionet.org/files/eegmmidb/1.0.0/S107/index.html
data/physionet.org/files/eegmmidb/1.0.0/S108/index.html
data/physionet.org/files/eegmmidb/1.0.0/S109/index.html
data/*/*/*/
data/*